header {
  border-bottom: 1px solid #ccc;
  margin-left: 15px;
  margin-right: 15px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #eaeced;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #d7d7d7;
  text-decoration: underline;
}


.login {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 60px;
}

.title {
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 70px;
  color: rgba(28, 24, 2, 0.458);
}

.navLink {
  margin: 3px;
  font-size: 20px;
  font-family: 'Staatliches', cursive;
  color: black;
}

.postBox {
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  height: 150px;
}

.homepageDescription {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.homepageTitle {
  font-family: 'Staatliches', cursive;
  font-size: 35px;
  margin-bottom: 30px;
}

.postDescription {
  margin-bottom: 30px;
}

#comments {
  width: 500px;
  height: 80px;
}

.commentBox {
  margin-top: 20px;
  height: 100px;
  border: 1px solid black;
}

.commentPerson {
  margin-top: 35px;
  font-size: 15px;
}